*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.navigation{
    height: 120px;
    width: 100%;
    border: 1px solid #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(243, 207, 163);

}

.nav>a{
    text-decoration: none;
    color: brown;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.nav{
    display: flex;
    gap: 60px;
}

.navigation>img{
    mix-blend-mode: multiply;
}

.nav>a:hover{
    color: black;
}